* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: coral;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
	max-width: 1000px;
	margin: 0 auto;
}

#menu-navigation {
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
	padding: 1rem;
}
