* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

button,
input,
textarea,
select {
	font: inherit;
}

body {
	background-color: hsl(16, 100%, 66%);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
	background-color: hsl(16, 100%, 86%);
	color: hsl(16, 100%, 46%);
	padding: 0.6rem 0.8rem;
	border-radius: 12px;
	border: none;
}

button:hover {
	background-color: hsl(16, 100%, 46%);
	color: hsl(16, 100%, 86%);
}

button:active {
	transform: scale(0.95);
}

#menu-navigation {
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
	padding: 1rem;
}

#content {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

.home-page h1 {
	font-size: clamp(3rem, 8vw + 1rem, 6rem);
	font-weight: 900;
	text-align: center;
	line-height: 1.1;
	color: hsl(16, 100%, 20%);
}
